= javascript_include_tag "../javascript/jquery.cookie.js"
= javascript_include_tag "../javascript/jquery.hotkeys.js"
= javascript_include_tag "../javascript/jquery.jstree.js"
= stylesheet_link_tag "../stylesheets/style.css"
= stylesheet_link_tag "../stylesheets/apple/style.css"


#description
  #mmenu{ :style=>"height:30px; overflow:auto;" }
    %input{ :type=>"button", :id=>"add_folder", :value=>"add folder", :style=>"display:block; float:left;"}
    %input{ :type=>"button", :id=>"add_text", :value=>"add text", :style=>"display:block; float:left;"}
    %input{ :type=>"button", :id=>"add_date", :value=>"add date", :style=>"display:block; float:left;"}
    %input{ :type=>"button", :id=>"add_number", :value=>"add number", :style=>"display:block; float:left;"}
    %input{ :type=>"button", :id=>"rename", :value=>"rename", :style=>"display:block; float:left;"}
    %input{ :type=>"button", :id=>"remove", :value=>"remove", :style=>"display:block; float:left;"}
    %input{ :type=>"button", :id=>"cut", :value=>"cut", :style=>"display:block; float:left;"}
    %input{ :type=>"button", :id=>"copy", :value=>"copy", :style=>"display:block; float:left;"}
    %input{ :type=>"button", :id=>"paste", :value=>"paste", :style=>"display:block; float:left;"}
#demo.class{ :style=>"height:200px;" }