= javascript_include_tag "../javascript/jquery.cookie.js"
= javascript_include_tag "../javascript/jquery.hotkeys.js"
= javascript_include_tag "../javascript/jquery.jstree.js"
= stylesheet_link_tag "../stylesheets/style.css"
= stylesheet_link_tag "../stylesheets/apple/style.css"

#demo.class{ :style=>"height:200px;" }